<!doctype html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    @RenderSection("links", required: false)   
</head>
<body>
    @RenderBody()
    @RenderSection("scripts", required: false)   
</body>
</html>